@charset "UTF-8";
/* CSS Document */
.wrapper {
margin-left:5%;
}
#nametitle {
background: white;
float:left;
}

.lousyheader {
background: #ccc;
font-size:36px;
font:Arial, Helvetica, sans-serif;
}
.lousyheader a {
color: #333333;
text-decoration:none;
}
.lousybody {
background-image: url();
}