@charset "UTF-8";
/* CSS Document */
.wrapper {
margin-left:5%;
}
.nametitle {
font-size:36px;
}

.lousyheader {
background: #ccc;
font-size:36px;
}
.lousyheader a {
color: #333333;
text-decoration:none;
}
.lousybody {
background-image: http://chriscaulier.github.io/images/headshot_0.jpg;
}